{
  "slider_ranges": {
    "Axial Force": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Lateral Force": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Strafe Power": [
      0.0,
      0.5,
      0.0,
      0.5
    ],
    "Global Force Mult": [
      0.0,
      2.0,
      0.0,
      2.0
    ],
    "Drag": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Mutation Scale": [
      -0.5,
      0.5,
      -0.5,
      0.5
    ],
    "Sensor Gain": [
      0,
      5.0,
      0,
      5.0
    ],
    "Sensor Angle": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Sensor Distance": [
      0.0,
      4.0,
      0.0,
      4.0
    ],
    "Trail Persistence": [
      0.0,
      1.0,
      0.0,
      1.0
    ]
  },
  "speedmult": 5,
  "motion_blur": true,
  "color_by_cohort": true,
  "rule_seed": 0.14446277210489455,
  "physics_tooltips_enabled": true,
  "debug_arrows": false,
  "arrow_sensitivity": 8.0,
  "mouse_mode": "Select Particle",
  "draw_size": 0.10000000149011612,
  "draw_power": 1.0,
  "x_sweeps": {
    "DRAG": 0.0,
    "MUTATION_SCALE": 0.0,
    "SENSOR_GAIN": 0.0
  },
  "y_sweeps": {
    "SENSOR_GAIN": 0.0,
    "DRAG": 0.0,
    "MUTATION_SCALE": 0.0
  },
  "cohort_sweeps": {
    "DRAG": 0.0,
    "MUTATION_SCALE": 0.0,
    "SENSOR_GAIN": 0.0
  },
  "max_frames": 1000,
  "motion_blur_samples": 6,
  "supersample_k": 1,
  "filename_prefix": "test"
}