{
  "slider_ranges": {
    "Axial Force": [
      -1.8049665316939354,
      0.1950334683060646,
      -1.0,
      1.0
    ],
    "Lateral Force": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Strafe Power": [
      -0.16689421981573105,
      0.33310578018426895,
      0.0,
      0.5
    ],
    "Global Force Mult": [
      -0.21421771158929914,
      0.7857822884107009,
      0.0,
      2.0
    ],
    "Drag": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Mutation Scale": [
      -0.5,
      0.5,
      -0.5,
      0.5
    ],
    "Sensor Gain": [
      -11.199639469385147,
      8.800360530614853,
      0.0,
      5.0
    ],
    "Sensor Angle": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Sensor Distance": [
      -4.289087921380997,
      3.7109120786190033,
      0.0,
      4.0
    ],
    "Trail Persistence": [
      0.0,
      1.0,
      0.0,
      1.0
    ]
  },
  "speedmult": 5,
  "motion_blur": true,
  "color_by_cohort": true,
  "rule_seed": 0.968169562142814,
  "physics_tooltips_enabled": true,
  "max_frames": 1800,
  "motion_blur_samples": 12,
  "supersample_k": 2,
  "filename_prefix": ""
}