{
  "slider_ranges": {
    "Axial Force": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Lateral Force": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Strafe Power": [
      0.0,
      0.5,
      0.0,
      0.5
    ],
    "Global Force Mult": [
      0.0,
      2.0,
      0.0,
      2.0
    ],
    "Drag": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Mutation Scale": [
      -0.5,
      0.5,
      -0.5,
      0.5
    ],
    "Sensor Gain": [
      -3.8992991112172604,
      6.10070088878274,
      0.0,
      5.0
    ],
    "Sensor Angle": [
      -1.0,
      1.0,
      -1.0,
      1.0
    ],
    "Sensor Distance": [
      0.0,
      4.0,
      0.0,
      4.0
    ],
    "Trail Persistence": [
      0.0,
      1.0,
      0.0,
      1.0
    ]
  },
  "speedmult": 5,
  "motion_blur": true,
  "color_by_cohort": true,
  "rule_seed": 0.37022382637448126,
  "physics_tooltips_enabled": false,
  "debug_arrows": false,
  "arrow_sensitivity": 8.0,
  "mouse_mode": "Draw Trail",
  "draw_size": 0.026000000536441803,
  "draw_power": 0.9900000095367432,
  "x_sweeps": {
    "DRAG": 0.0,
    "MUTATION_SCALE": 0.0,
    "SENSOR_GAIN": 1.0,
    "GLOBAL_FORCE_MULT": 0.0,
    "STRAFE_POWER": 0.0,
    "TRAIL_PERSISTENCE": 0.0,
    "SENSOR_ANGLE": 0.0
  },
  "y_sweeps": {
    "SENSOR_GAIN": 0.0,
    "DRAG": 0.0,
    "MUTATION_SCALE": 0.0,
    "GLOBAL_FORCE_MULT": 0.0,
    "LATERAL_FORCE": 0.0,
    "STRAFE_POWER": 0.0,
    "TRAIL_PERSISTENCE": 0.0,
    "SENSOR_DISTANCE": 0.0,
    "SENSOR_ANGLE": 1.0,
    "AXIAL_FORCE": 0.0
  },
  "cohort_sweeps": {
    "DRAG": 0.0,
    "MUTATION_SCALE": 0.0,
    "SENSOR_GAIN": 0.0,
    "GLOBAL_FORCE_MULT": 0.0,
    "SENSOR_ANGLE": 0.0,
    "STRAFE_POWER": 0.0,
    "TRAIL_PERSISTENCE": 0.0
  },
  "max_frames": 1000,
  "motion_blur_samples": 6,
  "supersample_k": 1,
  "filename_prefix": "test"
}