moderngl>=5.8.0
glfw>=2.6.0
imgui-bundle>=1.0.0
numpy>=1.24.0
Pillow>=10.0.0
pyopengl>=3.1.0

# Optional: OptiX raytraced sphere rendering (requires NVIDIA RTX GPU)
# cupy-cuda13x
# cuda-python
# pyoptix

#Opitx renderer also requires you install these SDKS:
#-Optix SDK 9.1
#-Cuda toolkit 13.3